.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #fff;
}
.nav-items-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}